<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="class1.ClassMapper">
<select id="getClasses" parameterType="int" resultMap="ClassResultMap1">
    select * from class c, teacher t where c.teacher_id=t.t_id and  c.c_id=#{id}
</select>

    <resultMap type="class1.Classes" id="ClassResultMap1">
        <id property="id" column="c_id"/>
        <result property="name" column="c_name"/>
        <association property="teacher" javaType="class1.Teacher">
            <id property="id" column="t_id"/>
            <result property="name" column="t_name"/>
        </association>
    </resultMap>


    <select id="getClassStudents" parameterType="int" resultMap="ClassResultMap">
        select * from class c, teacher t,student s where c.teacher_id=t.t_id and c.c_id=s.class_id and c.c_id=#{id}
    </select>
    <resultMap id="ClassResultMap" type="Classes">
       <id property="id" column="c_id"></id>
        <result property="name" column="c_name"></result>
        <association property="teacher" javaType="Teacher">
            <id property="id" column="t_id"></id>
            <result property="name" column="t_name"></result>
        </association>
        <collection property="students" ofType="Student">
            <id property="id" column="s_id"></id>
            <result property="name" column="s_name"></result>
        </collection>
    </resultMap>
</mapper>